<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Attention:</h2>
    <p> <%= @message %> </p>
    <h3>View Form</h3>
    <p> <%= @link %> </p>
  </body>
</html>
